@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #666633;
    --secondary-color: #CCCC99;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: var(--secondary-color);
 }

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

main {
    /* flex-grow: 1; */
}

nav h1 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    top: 0;
    padding: 1rem;
    margin-bottom: 3rem;
}

p {
    padding: 1rem 0 1rem 0;
    color: var(--primary-color);
}

.container {
    padding: 0rem 3rem;
}
.container-center {
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
}

.pagewrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--secondary-color) center center fixed no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
}

#input-txt {
    width: 100%;
    padding: 0.5rem 0rem 0rem 0.5rem;
    border: 2px solid black;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: var(--primary-color);
    font-weight: bolder;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-color);
    opacity: 1; /* Firefox */
}

#output-txt {
    border: 2px solid black;
    height: 120px;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    background-color: var(--primary-color);
    font-weight: bolder;
    margin-bottom: 3rem;
}

#btn {
    padding: 0.5rem;
    font-size: larger;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    margin-top: 1rem;
}



/* footer */
footer {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-bottom: 1.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1rem 1rem;
}

/* social icons */
.social-icon:hover {
    -webkit-animation:spin 0.4s ease-in-out;
    -moz-animation:spin 0.4s ease-in-out;
    animation:spin 0.4s ease-in-out;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}